

.formulario{
    border: 1px solid rgba(124, 119, 119, 0.166);
    border-radius: 10px;
    padding: 3% 10% 3% 10%;
    margin-left: 20%;
    margin-right: 20%;
    margin: 3% 20% 3% 20%;
    box-shadow: 5px 5px 10px rgb(201, 197, 197);
}